.toss {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      font-size: 25px;
}

button {
      font-size: 21px;
}

#result {
      position: absolute;
      top: 100%;
}

#teamSelBtn {
      position: absolute;
      top: 100%;
      margin-top: 60px;
}