* {
      margin: 5px;
      padding: 0;
}

div {
      padding: 0;
      display: inline-block;
}

.batTeam {
      margin-left: 20%;
      text-align: center;
}

.bowTeam {
      margin-right: 20%;
      float: right;
      text-align: center;
}

.scoreBoard {
      width: 60%;
      height: 130px;
      margin: auto;
      margin-top: 30px;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
}

.hitScore {
      width: 30%;
      height: 60px;
      margin: auto;
      margin-top: 30px;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
}

#hitBtn {
      background-color: red;
      border: none;
      border-radius: 10px;
      color: white;
      padding: 13px 32px;
      text-align: center;
      text-decoration: none;
      margin: auto;
      margin-top: 30px;
      display: flex;
      font-size: 20px;
}

#hitBtn:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.fpointsTag {
      position: relative;
      top: 5px;
      left: 58%;
      margin: 10px;
}

.oversTag {
      position: relative;
      top: 5px;
      left: 40%;
      margin: 10px;
}

.runsTag {
      position: absolute;
      margin: 20px;
      margin-top: 15px;
}

.batsmanTag {
      position: absolute;
      margin: 80px;
      margin-left: 2%;
}

.bowlerTag {
      position: absolute;
      margin: 80px;
      margin-left: 30%;
}
.commentryBox {
      position: absolute;
      height: 30%;
      width: 20%;
      bottom: 0;
      right: 1%;
      border: 2px solid black;
      overflow-y: scroll;
}
.commentryBox li {
      list-style-type: none;
}

.firstInningTargetBox {
      position: absolute;
      height: 10%;
      width: 15%;
      bottom: 0;
      left: 1%;
      border: 2px solid black;
      text-align: center;
}
.bowlingTeamFantasyPoints{
            position: absolute;
            height: 10%;
            width: 15%;
            bottom: 13%;
            left: 1%;
            border: 2px solid black;
            text-align: center;
}

.firstInningFinished {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 98vh;
      width: 98vw;
      border: 2px solid black;
      top: 0;
      overflow: hidden;
      background-color: aquamarine;
}

.firstInningFinished h1 {
      font-size: 50px;
      color: black;
      padding: 10px;
}
.firstInningFinished h2 {
      font-size: 40px;
      color: black;
      padding: 10px;
}
.firstInningFinished button {
      background-color:rgb(229, 36, 36);
      color: wheat;
      border-radius: 10px;
      padding: 13px 32px;
      text-align: center;
      text-decoration: none;
      margin-top: 30px;
      font-size: 20px;
}
.matchFinished{
      position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 98vh;
            width: 98vw;
            border: 2px solid black;
            top: 0;
            overflow: hidden;
            background-color: rgb(21, 200, 232);
}
.matchFinished button {
      background-color: rgb(31, 233, 92);
      color:black;
      border-radius: 10px;
      padding: 13px 32px;
      text-align: center;
      text-decoration: none;
      margin-top: 30px;
      font-size: 20px;
}

