  div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
  }

  

  .row ul {
        border: 1px solid black;
        margin: 50px 20px;
        width: 300px;
        height: 430px;
        cursor: pointer;
  }

  #firstTeamPlayerScore , #secondTeamPlayerScore {
      overflow-y: auto;
      width: auto;
      padding-left: 5px;
  }

  #firstTeamScore, #secondTeamScore {
      justify-content: center;
      text-align: center;
      margin: 0;
      padding: 0;
  }

  .row ul li {
        margin: 0;
        padding: 4px;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        list-style-type: none;
  }

  .teamName {
        font-size: 24px;
        position: absolute;
        top: 70px;
        transform: translateX(-50%);
        color: red;
  }

  #firstTeamName {
        left: 38%;
  }

  #secondTeamName {
        left: 62%;
  }

  .gameWinner {
            font-size: 24px;
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            color: green;
  }

  #startNextGame {
            position: absolute;
            bottom: 25px;
            right: 0;
            transform: translateX(-50%);
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            background-color: rgb(255, 180, 29);
            font-size: 20px;
  }